$c-black: #000000;
$c-white: #ffffff;
$c-off-white: #F0F5F6;
$c-dark-grey: #3f3f3f;
$c-light-grey: #a9a9a9;
$c-navy-blue: #21243c;

$m-gutter: 1rem;

@import 'work';
@import 'contact';
@import 'home';
@import 'about';
@import 'reset';
@import 'services';
@import 'media';

.section {
  padding: $m-gutter;
}

.container {
  max-width: $m-gutter * 65;
  margin: auto;
}

.nav {
    position: fixed;
    width: 100%;
    background: $c-off-white;
    padding: $m-gutter / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-item {
        text-transform: uppercase;
        font-size: 14px;
    }

    &-link {
        color: $c-navy-blue;
        padding: $m-gutter;
    }
}

.navbar {
    display: flex;
    margin-top: 5%;
    padding: 0 $m-gutter * 2;
}

.logo {
    width: $m-gutter * 15;
}

.footer {
    padding: $m-gutter;
    padding-top: 5rem;
    background: $c-white;
    color: $c-light-grey;

    &-para {
        width: $m-gutter * 20;
    }
}
