$c-black: #000000;
$c-white: #ffffff;
$c-dark-grey: #3f3f3f;
$c-light-grey: #a9a9a9;

$m-gutter: 1rem;

@import 'clients';
@import 'contact';
@import 'home';
@import 'about';
@import 'reset';
@import 'services';
@import 'media';

.section {
  padding: $m-gutter;
}

.container {
  max-width: $m-gutter * 65;
  margin: auto;
}

.nav {
    position: fixed;
    width: 100%;
    background: $c-white;
    padding: $m-gutter / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-item {
        margin-top: $m-gutter * 1.5;
        padding: 0 $m-gutter;
        color: $c-black;
        text-transform: uppercase;
        font-size: 14px;
    }
}

.navbar {
    display: flex;
}

.logo {
    width: $m-gutter * 15;
}

.footer {
    padding: $m-gutter;
    background: $c-white;
    color: $c-light-grey;

    &-para {
        width: $m-gutter * 20;
    }
}