.contact {
    padding-top: 12rem;

    &-link {
        position: relative;
        background: $c-navy-blue no-repeat center fixed;
        background-size: cover;
        color: $c-light-grey;
        margin: -5rem 0;
        height: 18rem;

        &-text {
            padding: $m-gutter * 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
        }

        &-para {
            padding-bottom: $m-gutter;
            width: 80%;
        }
    }
}