.contact {
  padding-top: 12rem;

  &-link {
    background: $c-navy-blue no-repeat center fixed;
    background-size: cover;
    color: $c-light-grey;
    height: 18rem;
    margin: -5rem 0;
    position: relative;

    &-text {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: $m-gutter * 2;
      text-align: center;
    }

    &-para {
      padding-bottom: $m-gutter;
      width: 80%;
    }
  }
}
