@media (min-width: 300px) and (max-width: 650px) {
  .nav {
    flex-direction: column;
    justify-content: center;
  }

  .home {
    &-banner-text {
      font-size: $m-gutter;
      padding-top: 60%;
    }

    &-grid {
      display: flex;
      flex-direction: column;
    }

    &-list {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  .contact-link {
    height: 28rem;
  }
}
