@media (min-width: 300px) and (max-width: 650px) {

    .nav {
        justify-content: center;
        flex-direction: column;
    }

    .home {
        
        &-banner-text {
            padding-top: 60%;
            font-size: $m-gutter;
        }

        &-grid {
            display: flex;
            flex-direction: column;
        }

        &-list {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }
}