<div class="app">
    <nav class="nav">
        {{#link-to "home"}}<img src="/img/directed-markets-logo.png" alt="" class="logo">{{/link-to}}
        <ul class="navbar">
          <li class="nav-item">{{#link-to "about"}}About{{/link-to}}</li>
          <li class="nav-item">{{#link-to "services"}}Services{{/link-to}}</li>
          <li class="nav-item">{{#link-to "clients"}}Clients{{/link-to}}</li>
          <li class="nav-item">{{#link-to "contact"}}Contact{{/link-to}}</li>
        </ul>
    </nav>

{{outlet}}

    <footer class="footer">
        <ul>
            <li>© 2017 Directed Markets</li>
            <li>All rights reserved.</li>
            <p class="footer-para">All photos and video footage on this website are property of Directed Markets.</p>
        </ul>
    </footer>
</div>