<div class="app">
    <nav class="nav">
        <img src="/img/directed-markets-logo.png" alt="" class="logo">
        <ul class="navbar">
          <li>{{#link-to "home"}}Home{{/link-to}}</li>
          <li>{{#link-to "about"}}About Us{{/link-to}}</li>
          <li>{{#link-to "services"}}Services{{/link-to}}</li>
          <li>{{#link-to "clients"}}Clients{{/link-to}}</li>
          <li>{{#link-to "contact"}}Contact{{/link-to}}</li>
        </ul>
    </nav>
</div>

{{outlet}}