<div class="contact">

    <div class="section">
        <div class="container">
            <h1>Contact Us</h1>
            <p>Ready to get started or really curious about our process? Give us a call:</p>
            <h3>469-600-4441</h3>
        </div>
    </div>

</div>

{{outlet}}
