<div class="home">
    <div class="home-banner">
        <div class="section">
            <div class="container">
                <div class="home-banner-text">
                    <h1 class="home-banner-text__title">A Digital Marketing &</h1>
                    <h1 class="home-banner-text__title">Web Design Agency</h1>
                </div>
            </div>
        </div>
    </div>
    
    <div class="section">
        <div class="container">
            <div class="home-grid">
                <div class="main-content"></div>
                <div class="sidebar">
                    <h3 class="banner-text__subtitle">Grow Your Following</h3>
                    <p>We do constant research on your primary targeted audience in order to increase your traffic and followers. An outstanding website with parallel designs can skyrocket your amount of followers. After we complete the branding phase, the average consumer will be able to differentiate your business from any other business in your industry. This, in turn, will grow your business, followers, and ultimately, revenue.</p>
                    <h3 class="banner-text__subtitle">Engage Your Audience</h3>
                    <p>Instead of only creating your brand and growing your followers, we will engage with every consumer that comes across your digital platforms. By interacting through direct messages, social postings, and responses, we can turn an average consumer into a potential customer. We create that personal connection between your business and consumers that is required for a successful transaction.</p>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="section">
        <div class="container">
            <div class="home-list">
                <div class="home-list-side">
                    <h2 class="home-list-title">We're a Digital Marketing & Web Design Agency.</h2>
                    <p class="home-list-para">We understand your competition. We understand the intentions of the impact you have on your industry. We understand the big picture.</p>
                </div>
                <div class="home-list-side">
                    <ul>
                        <li class="home-list-item">Tattoo Parlors</li>
                        <li class="home-list-item">Barbershops</li>
                        <li class="home-list-item">Vape Stores</li>
                        <li class="home-list-item">Portfolio for Artists</li>
                        <li class="home-list-item">Online Resumes</li>
                        <li class="home-list-item">Music Artists</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="contact-link">
                <div class="contact-link-text">
                    <h1 class="contact-link-title">Ready to Bring in More Business?</h1>
                    <p class="contact-link-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam aliquam quas possimus molestias asperiores optio at laudantium corporis labore, eligendi, odit reprehenderit eum. Placeat inventore, quis obcaecati odit laboriosam amet.</p>
                    <button>{{#link-to "contact" class="nav-link"}}CONNECT WITH US{{/link-to}}</button>
                </div>
            </div>
        </div>
    </div>
</div>



{{outlet}}
