<div class="banner">
    <div class="section">
        <div class="container">
            <div class="banner-text">
                <h1 class="banner-text__title">A Digital Marketing & Web Design Agency</h1>
                <h3 class="banner-text__subtitle">Grow Your Following</h3>
                <h3 class="banner-text__subtitle">Engage Your Audience</h3>
            </div>
        </div>
    </div>
</div>

{{outlet}}
